@{
    ViewBag.Title = "Home Page";
}

<div class="row panel" style="margin: 10px;">
    <div class="col-xs-2">
        @Html.Action("LeftMenu", "Nav")
    </div>
    <div class="col-xs-10">
        @Html.Partial("~/Views/Nav/TopMenu.cshtml")
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/myScriptTampleteManagement")
    @Scripts.Render("~/bundles/myScriptViewManagement")
    @Scripts.Render("~/bundles/myScriptLayot")
}