@model PL.Models.PortfolioModel

<div id="createPortfolioForm">
    @using (Html.BeginForm("CreatePortfolio", "Portfolio", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        <h4>Portfolio Information</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Notes, new {@class = "col-md-2 control-label"})
            @Html.TextAreaFor(model => model.Notes, 5, 20, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Notes, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Visibility, new { @class = "col-md-2 control-label" })
            @(Model == null ? Html.CheckBoxFor(m => m.Visibility, new {style = "margin-left: 40px;"})
            : Html.CheckBoxFor(m => m.Visibility, new {@checked = "checked", style = "margin-left: 40px;"}))
        </div>
            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
    }
</div>