@model IEnumerable<PL.Models.PortfolioModel>

<button type="button" class="btn btn-primary btn-block" id="addBtn">Add Portfolio</button>
<ul class="nav nav-tabs nav-pills nav-stacked" id="panelList" style="border-bottom: none">
    @for (var i = 0; i < Model.Count(); i++)
    {
        var portClass = @TempData["PortfolioId"]?.ToString() == @Model.ToList()[i].Id.ToString() ? "active" : "";
        <li style="margin: 0; margin-bottom: -1px;" class="@portClass li-item">

            <button type="button" class="btn btn-default btn-sm btn-item delete">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm btn-item edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <a href="#" class="portfolio-item">
                <p>@Model.ToList()[i].Name</p>
            </a>
            @Html.HiddenFor(model => model.ToList()[i].Id, new {@class = "PositionId"})
            @Html.HiddenFor(model => model.ToList()[i].DisplayIndex, new {@class = "DisplayIndex"})
        </li>

    }
</ul>

