@model Exception
@{
    ViewBag.Title = "Exception";
}
<div style="margin: 30px">
    <h2>
        Site error
    </h2>
    <p style="font-size: 1.2em; color: Red; font-weight: bold;">
        The error message has already been sent to the developers. Hope for your understanding.
    </p>
    <p style="font-weight: bold;">@Model.Message</p>
    <p>
        You can:
    </p>
    <ul>
        <li>Go to main @Html.ActionLink("page", "index", "site"). </li>
        <li>
            Report what you were looking for or under what conditions this error occurred. Write to the developers @Html.ActionLink("message", "Http404", "error")
        </li>
    </ul>
    <fieldset style="font-size: .85em;">
        <legend>Information for developers</legend>
        @Html.Raw(@Model.StackTrace.ToString())
    </fieldset>
</div>

